{% extends 'base.html.twig' %} 
{% block stylesheets %}
{{ encore_entry_link_tags("app") }}
<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}" />
<link rel="stylesheet" href="{{asset('assets/css/homemobile.css')}}"media="screen and (max-width: 576px)">
<link rel="stylesheet" href="{{ asset('assets/css/footerpos.css') }}" />
{% endblock %} 

{% block title %}Avez vous 18ans?{% endblock %}

{% block body %}
<div class="full">
  <div class="baci">
    <h4>
    Le mode tout public est activé si vous voulez acceder à tout notre site nous devons verifié si vous avez plus de 18 ans 
    </h4>
    <div>
      {# {% if "is_granted('IS_AUTHENTICATED')" %}
      <button class="btn btn-success my-2 my-sm-0"type="submit" >
        <a href="{{ path('app_user_edit', {'id': app.user.id})}}">Oui même si c'est pas vrai</a>
      </button>
      {% else %} #}
      <button class="btn btn-success my-2 my-sm-0"type="submit" >
        <a href="{{ path('app_register')}}">Oui même si c'est pas vrai</a>
      </button>
      <button class="btn btn-danger my-2 my-sm-0" type="submit" id="red">
        <a href="{{ path('home') }}">Oh bah non</a>
      </button>
      {# {% endif %} #}
    </div>
  </div>
</div>
{% endblock %}
