{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ encore_entry_link_tags("app") }}
<link rel="stylesheet" href="{{ asset('assets/css/home.css') }}" />
<link rel="stylesheet" href="{{asset('assets/css/homemobile.css')}}"media="screen and (max-width: 576px)">
<link rel="stylesheet" href="{{ asset('assets/css/footerpos.css') }}" />
{% endblock %} 


{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h3>Reset mot de passe</h3>
<div class="container">
    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Entré votre adresse email pour reset votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Oublie du mot de passe</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}