{% extends 'base.html.twig' %}
{% block stylesheets %}
{{ encore_entry_link_tags("app") }}
<link rel="stylesheet" href="{{ asset('assets/css/footerpos.css') }}" />
{% endblock %}

{% block title %}{{ livres.titre }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-3 mb-4">
            <div class="col-md-4 mobile">
                <img src="{{asset('/uploads/upload/' ~ livres.image)}}" alt="{{ livres.titre }}" class="img-fluid">
            </div>
            <div class="col-md-8">
                <h1 class="mt-4 mt-md-0">{{ livres.titre }}</h1>
                <h2>{{ livres.prix }} €</h2>
                <hr>
                {{ form_start(form, {'attr': {'class': 'mt-4 p-4 bg-light'}}) }}
                <div class="form-group">
                    {{ form_label(form.quantite) }}
                    {{ form_widget(form.quantite, {
                        'attr': {
                            'class': 'form-control ' ~ (form.quantite.vars.valid ? '' : 'is-invalid')
                        }
                    }) }}
                    <div class="invalid-feedback">
                        {{ form_errors(form.quantite) }}
                    </div>
                </div>
                {{ form_widget(form.ajouter, {'attr': {'class': 'btn btn-warning w-25'}}) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}